<p id="notice"><%= notice %></p>

<h1>Movieobjects</h1>

<table>
  <thead>
    <tr>
      <th>Studio</th>
      <th>Director</th>
      <th>Mid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movieobjects.each do |movieobject| %>
      <tr>
        <td><%= movieobject.studio %></td>
        <td><%= movieobject.director %></td>
        <td><%= movieobject.mid %></td>
        <td><%= link_to 'Show', movieobject %></td>
        <td><%= link_to 'Edit', edit_movieobject_path(movieobject) %></td>
        <td><%= link_to 'Destroy', movieobject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movieobject', new_movieobject_path %>
