<p id="notice"><%= notice %></p>
<script>
    window.location = "/";
</script>
<p>
  <strong>Title:</strong>
  <%= @mediaobject.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @mediaobject.genre %>
</p>

<p>
  <strong>Releasedate:</strong>
  <%= @mediaobject.releasedate %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @mediaobject.uid %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @mediaobject.mid %>
</p>

<!--<%#= link_to 'Edit', edit_mediaobject_path(@mediaobject) %> |-->
<%#= link_to 'Back', 'D' %>
